<!DOCTYPE html>
<html>
    <head>
        <title>WEATHER APP</title> 
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/1.png">
        <script src="/js/app.js">

        </script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            At {{location}}: <br>

            Temperature:{{temp}} <br>
            Pressure:{{pressure}} <br>
            Humidity:{{humidity}} <br>
            Weather:{{description}} <br>
        </div>
        {{>footer}}
    </body>
</html>